#ifndef SETUP_H
#define SETUP_H

#include "configTemplates.h"

#define BLUETOOTH_NAME "prismaDEVICE"
#define BLUETOOTH_BUFFER_SIZE 256
#define BLUETOOTH_SPLIT_MESSAGE_WAIT 500

#define STRIP_COUNT 2
#define LED_CHIP LEDChip::APA102

#define NEO_PIXEL_COLOUR_FEATURE NeoGrbFeature
#define NEO_PIXEL_METHOD Neo800KbpsMethod

const StripConfiguration STRIPS[STRIP_COUNT] = {
    {14,
     13,
     118},
    {33,
     32,
     117}};

const bool DEFAULT_MELDS[STRIP_COUNT] = {true, false};

#endif